/* styles.css */
body {
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#cookie-button, .upgrade {
    width: 100%;
    max-width: 300px;
}

.admin-link a {
    text-decoration: none;
    font-weight: bold;
}

.admin-link a:hover {
    text-decoration: underline;
}
